/* navbar */
.navbar{
  display:flex;
justify-content:space-between;
align-items:center;
background-color:white;
color:black;
}
.brand-title{
  font-size:1.5rem;
  margin:0.5rem;
}
.navbar-links ul{
  margin:0;
  padding:0;
  display:flex;

}
.navbar-links li{
  list-style:none;
}
.navbar-links li a{
  text-decoration:none;
  color:black;
  padding:1rem;
  display:block;

}
.navbar-links li:hover{
  background-color:none;
}
.toggle-button{
  position:absolute;
  top:30px;
  right:1rem;
  display:none;
  flex-direction:column;
justify-content: space-between;
width:30px;
height:21px;
}
.toggle-button .bar{
  
  height:3px;
  width:100%;
  background-color:rgb(253,25,136);
  border-radius:10px;
}
.logo{
  height: 92px;
  width: 300px;
  
}
#buttonstyle{
  background-color:rgb(107,45,188);
  color:white;
margin-top:-5px;
  font-family:  "Times New Roman", Times, serif;
}
.linkstyle:hover{
  color:rgb(253,25,136);
}

@media(max-width:500px){
  .toggle-button{
    display:flex;
  }
  .navbar-links{
    display:none;
    width:100%;
  }
  .navbar{
    flex-direction:column;
    align-items: flex-start;
  }
  .navbar-links ul{
    flex-direction: column;
    width:100%;
  }
  .navbar-links li{
    text-align:center;
  }
  .navbar-link a{
    padding:0.5rem 1rem;
  }
  .navbar-links.active{
display:flex;
  }
  .navbar-links li:hover{
    background-color:rgb(253,25,136,14%);
  }
  .logo{
    height:50px;
    width:130px;
    margin-left:-200px;
  }

#homeimg{
  height:300px;

}
 
}

@media(min-width:768px) and (max-width:768px){
.logo{
  height:80px;
  width:200px;
}
#homeimg{
  height:800px;
}
.aboutdesign{
  display:none;
}

#card1{
  margin-top:30px;
  margin-left:100px;
}
}
@media(min-width:820px) and (max-width:820px){
  .logo{
    height:80px;
    width:200px;
  }
  .aboutdesign{
    display:none;
  }
  #homeimg{
    height:800px;
  }
  #card1{
    margin-top:30px;
    margin-left:100px;
  }
  }
  @media(min-width:1024px) and (max-width:1024px){
 
    #card1{
      margin-top:30px;
      margin-left:200px;
    }
    }
  @media(min-width:540px) and (max-width:540px){
    .toggle-button{
      display:flex;
    }
    .navbar-links{
      display:none;
      width:100%;
    }
    .navbar{
      flex-direction:column;
      align-items: flex-start;
    }
    .navbar-links ul{
      flex-direction: column;
      width:100%;
    }
    .navbar-links li{
      text-align:center;
    }
    .navbar-link a{
      padding:0.5rem 1rem;
    }
    .navbar-links.active{
  display:flex;
    }
    .navbar-links li:hover{
      background-color:rgb(253,25,136,14%);
    }
    .logo{
      height:50px;
      width:100px;
      margin-left:-250px;
    }
    .aboutdesign{
      display:none;
    }
   
    }
/* navbar */

/* homepage */
#homecontainer {
  position: relative;
}

.image-container {
  position: relative;
}

.homeimg {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:rgb(107, 45, 188); /* Violet background with opacity */
  padding: 20px;
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
}

.hometext1 {
  font-size: 2em;
  font-weight: bold;
}

.hometext2 {
  font-size: 1.5em;
}

#side {
  margin-bottom: 20px;
}

.movedown {
  margin-top: 10px;
}

#buttonstyle1 {
  background-color: rgb(253, 25, 136);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
}

@media (max-width: 700px) {
  .hometext1 {
    font-size: 1.5em;
  }

  .hometext2 {
    font-size: 1.2em;
  }

  .overlay {
    position: static;
    background-color: rgb(107, 45, 188);
    text-align: center;
    padding: 20px;
    margin-top:-140px;
  }

  #side {
    margin-bottom: 20px;
  }
  #buttonstyle1{
    font-size:15px;
  }
}


/* homepage */



/* About */
.aboutdesign{
  width: 100vw;
  position:absolute;
top:900px;
left:-50px;
}
.card-link1{
  font-size:15px;
  color:rgb(253,25,136);
  text-decoration: none;

}
.aboutstyle1{
  font-size:40px;
  font-weight:bold;
  color:rgb(253,25,136);

  
  font-family:  "Times New Roman", Times, serif;
}
.aboutstyle2{
  color:rgb(107, 45, 188);
  font-weight:bold;
  font-size:30px;

  font-family:  "Times New Roman", Times, serif;
}
.aboutstyle3{
  font-size:20px;

  font-family:  "Times New Roman", Times, serif;
}
#card1{
width:400px;
margin-right:150px;
}
.aligncenter{
  align-items:center;
  margin-left:50px;
}
@media (max-width:500px){
  .aboutdesign{
    display:none;
  }
  #card1{
    margin-top:20px;
    max-width:350px;
    margin-left:10px;
  }
  .aligncenter{
    align-items:center;
    margin-left:0px;
  }
  .aboutstyle1{
    font-size:30px;
  }

}
/* About */


/* Founder */
.aboutstyle5{
  font-size:30px;
  font-weight:bold;
  color:rgb(253,25,136);
margin-left:20px;
}
/* Founder */

/* testimonial */
.heading{
  font-size:30px;
  font-weight:bold;
  color:rgb(253,25,136);
    text-align:center;
    margin-bottom:30px;
  
    font-family:  "Times New Roman", Times, serif;
  }

  @media (max-width:500px){
.border{
  max-width:400px;
  margin-left:30px;
  margin-right:30px;
}
  }
  /* testimonial */


  /* programs */
  #cardheading{
    color:black;
    font-weight:bold;
    font-size:20px;
    
    font-family:  "Times New Roman", Times, serif;
  }
  .cardtext{
    color:rgb(96,96,96);
    font-weight:bold;
    font-size:20px;
    margin-top:-30px;
    
    font-family:  "Times New Roman", Times, serif;
  }
  .cardtext2{
    color:black;
    font-size:15px;
    
    font-family:  "Times New Roman", Times, serif;
  }
  .rectangle{
    margin-top:-50px;
  }
  #buttonstyle2{
    background-color:rgb(107,45,188);
    color:white;
    margin-top:10px;
    
    
    
    font-family:  "Times New Roman", Times, serif;
  }
  #card2{
    height:280px;
    width:300px;
    margin-right:30px;
    margin-top:20px;
  }
  @media (max-width:500px){
    #card2{
      margin-left:40px;
      margin-top:30px;
    }
  }
/* programs */

/* daily activities */
#absolute{
  position:absolute;
}
.dailyimg{
  border-radius:10%;
  margin-top:30px;
  margin-left:50px;
  
}
.design2{
  width: 98vw;
  height:340px;
display:center;
}
.label4{
  font-size:100px;
  color:rgb(0,0,0,30%);
  font-weight:bold;
  margin-left:150px;
  margin-top:-20px;
  position:absolute;
  
  font-family:  "Times New Roman", Times, serif;
}
.label7{
  font-size:25px;
  color:white;
  font-weight:bold;
  margin-top:40px;
  margin-left:100px;
  position:absolute;
  
  font-family:  "Times New Roman", Times, serif;
}
.label8{
  font-size:25px;
  color:white;
  font-weight:bold;
  margin-top:40px;
  margin-left:150px;
  position:absolute;
  
  font-family:  "Times New Roman", Times, serif;
}
.newsimg{
  height:300px;
  width:288px;
margin-bottom:30px;
border-radius:20px;
margin-left:7px;
margin-right:10px
}
.newsimg2{
  height:280px;
  width:288px;
margin-bottom:30px;
border-radius:20px;
margin-left:7px;
margin-right:10px
} 
.row #colname{
  
flex-direction:row;
}
@media (max-width:500px){
  .design2{
    height:900px;
    max-width:400px;
  }
.row{
  flex-direction:column;
  align-items: flex-start;
}
.dailyimg{
  margin-bottom:50px;
  margin-left:30px;
}
.label4{
  font-size:100px;
  color:rgb(0,0,0,30%);
  font-weight:bold;
  margin-left:150px;
  margin-top:-70px;
  position:absolute;
  
  font-family:  "Times New Roman", Times, serif;
}
.label7{
  font-size:25px;
  color:white;
  font-weight:bold;
margin-top:-10px;
  margin-left:100px;
  position:absolute;
  
  font-family:  "Times New Roman", Times, serif;
}
.label8{
  font-size:25px;
  color:white;
  font-weight:bold;
  margin-top:-10px;
  margin-left:150px;
  position:absolute;
  
  font-family:  "Times New Roman", Times, serif;
}
}
@media (max-width:500px){
  .circleimg{
 margin-left:-10px;
    margin-bottom:30px;
  }
}
.label{
  margin-left:140px;
  color:black;
  font-weight:bold;
  font-size:20px;
  
  font-family:  "Times New Roman", Times, serif;
}
.label1{
  margin-left:120px;
  color:black;
  font-weight:bold;
  font-size:20px;
  
  font-family:  "Times New Roman", Times, serif;
}
.label2{
  margin-left:80px;
  color:black;
  font-weight:bold;
  font-size:20px;
  
  font-family:  "Times New Roman", Times, serif;
}
/* daily activities */

/* Admissions */
.aboutstyle9{
  font-size:30px;
  color:rgb(253,25,136);
  font-weight:bold;
margin-left:40px;
margin-top:-20px;
  font-family:  "Times New Roman", Times, serif;
}
.aboutstyle10{
  font-size:20px;

  font-family:  "Times New Roman", Times, serif;
}
#cardsize{
  background-color:rgb(115,107,107,14%);
margin-left:90px;
border-color:black;
border-width:1px;
margin-top:40px;
height:200px;
}
.addcardhead{
  font-size:25px;
  font-family:  "Times New Roman", Times, serif;
  text-align:center;
  font-weight:bold;

}
.violet{
  color:blueviolet;
  font-weight:bold;
}
.aboutstyle6{
  font-size:30px;
  color:rgb(253,25,136);
  font-weight:bold;
  margin-left:40px;

  font-family:  "Times New Roman", Times, serif;
}
.adddesign{
  margin-left:-28px;
  margin-top:-16px;
  width:279px;
}
.addcard1{
  text-align:center;
  font-family:  "Times New Roman", Times, serif;
  font-size:25px;
  font-weight:bold;
  margin-top:-20px;
}
.addcard2{
  text-align:center;
  font-family:  "Times New Roman", Times, serif;
  font-size:20px;
color:rgb(126,126,126);

}

.addcard3{
  text-align:center;
  font-family:  "Times New Roman", Times, serif;
  font-size:20px;
  font-weight:bold;

}
.addcard4{
  text-align:center;
  font-family:  "Times New Roman", Times, serif;
  font-size:15px;
font-weight:100;

}
.addcard5{
  text-align:center;
  font-family:  "Times New Roman", Times, serif;
  font-size:20px;
color:rgb(126,126,126);
margin-top:-20px;
}
#card3{
  width:280px;
  height:290px;

margin-left:50px;
margin-top:30px;
}
#card4{
  height:420px;
  width:328px;

  margin-left:40px;
  margin-top:30px;
}
.addfig{
margin-left:-30px;
  
}
.addfig1{
  margin-left:-30px;
    
  }
#center{
  margin-left:60px;
}
.cardhead{
  margin-right:100px;
}
#card5{
  width:332.24px;
  height:380px;
  background-color:rgb(107, 45, 188,7%);

  margin-left:40px;
  margin-top:30px;
}
.roundedge{
  border-radius:20px;
}
.card4text{
  font-size:20px;
  font-weight:bold;
  
  font-family:  "Times New Roman", Times, serif;
  }
  .card4text1{
    font-size:15px;
  color:rgb(126,126,126);
  
  font-family:  "Times New Roman", Times, serif;
    }

    .circleimg{
      border-radius:100px;
    }
    .card-link{
      font-size:10px;
     }
     .aboutstyle11{
      font-size:40px;
      font-weight:bold;
      color:rgb(253,25,136);
      text-align:center;
      
    font-family:  "Times New Roman", Times, serif;
    }
    .aboutstyle12{
      font-size:30px;
   
      font-family:  "Times New Roman", Times, serif;
  font-style:Italic;
      text-align:center;
      margin-top:-30px;
    }
@media (max-width:500px){
  #cardsize{
    background-color:rgb(115,107,107,14%);
margin-left:0px;
  border-color:black;
  border-width:1px;
  margin-top:40px;
  height:200px;
  }
  #card4{
    height:420px;
    width:328px;
    margin-right:50px;
    margin-left:20px;
    margin-top:30px;
  }
  #card5{
    width:332.24px;
    height:380px;
    background-color:rgb(107, 45, 188,7%);
  margin-right:30px;
    margin-left:40px;
    margin-top:30px;
  }
  #card3{
    width:280px;
    height:290px;
  margin-right:100px;
  margin-left:50px;
  margin-top:30px;
  }
}
/* news */

/* questions */
.aboutstyle11 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}

.aboutstyle12 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
  margin-top:10px;
}

.faqstyle {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.faq {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.faq .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq .question h3 {
  margin: 0;
  font-size: 1.2em;
}

.faq .answer {
  padding-top: 10px;
}

@media (max-width: 768px) {
  .faq .question h3 {
    font-size: 1em;
  }

  .faq .answer {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .aboutstyle11 {
    font-size: 1.5em;
  }

  .aboutstyle12 {
    font-size: 1.2em;
  }

  .faq .question h3 {
    font-size: 0.9em;
  }

  .faq .answer {
    font-size: 0.8em;
  }
}
#gallspace{
  margin-top:20px;
  margin-bottom:20px;
  }
  .schooldesign{
    position:absolute;
  width:1260px;
  height:800px;
  left:-50px;
  }
  .contactustext1 {
    font-size: 20px;
    font-weight: 100;
    margin-left: -30px;
    margin-top: -20px;
    font-family: "Times New Roman", Times, serif;
    padding: 0 20px;
  }
  
  .contactstyle1 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(253, 25, 136);
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
  }
  
  .contactbutton {
    width: 100%;
    height: 40px;
    background-color: rgb(107, 45, 188);
    color: white;
    margin-top: 20px;
    box-shadow: none;
    font-family: "Times New Roman", Times, serif;
    border: 1px solid rgb(107, 45, 188);
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  .contactrect {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    margin-top: -60px;
  }
  
  .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .text1 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 10px;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
  
  .icons {
    margin-right: 10px;
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
  }
  
  .text2, .text3, .text4 {
    font-size: 20px;
    font-weight: 200;
    color: white;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
  }
  #contactleft{
    margin-left:0px;
  }
  .map {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 30px;
    width: 100%;
    height: auto;
  }
  #antdleft{
margin-left:-30px;
  }
  @media (max-width: 768px) {
    .contactstyle1 {
      font-size: 30px;
    }
  
    .contactbutton {
      width: 100%;
    }
  
    .contactrect {
      margin-top: 0;
        
 
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: -60px;
  
    }
  
    .text1 {
      font-size: 20px;
    }
  
    .text2, .text3, .text4 {
      font-size: 16px;
    }
  }
  
  @media (max-width: 576px) {
    .contactstyle1 {
      font-size: 25px;
    
    }
    #antdleft{
      margin-left:30px;
        }
        .contactustext1 {
          font-size: 20px;
          font-weight: 100;
          margin-left: -30px;
          margin-top: -20px;
          font-family: "Times New Roman", Times, serif;
          padding: 0 20px;
        }
  .contactbutton{
    margin-top:10px;
  }
    .contactbutton {
      width: 100%;
      margin-bottom:30px;
      margin-left:-30px;
    }
  
    .contactrect {
      margin-top: 0;
      margin-left:0px;
   
    }
  
    .text-overlay {
      align-items: center;
      text-align: center;
    }
  
    .text1 {
      font-size: 18px;
    }
  
    .text2, .text3, .text4 {
      font-size: 14px;
    }
  
    .map {
      margin: 20px;
      margin-left:30px;
    }
  }
  .navbar-wrapper {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
  }
  